<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{{ site.favicon | relative_url }}"
/>

<div style="position: fixed; top: 19px; left: 19px">
  <a href="https://github.com/Gaurav-Gosain/uadmin-railway">
    <img
      class="gh-logo"
      src="https://i.giphy.com/media/KzJkzjggfGN5Py6nkT/200.webp"
      alt="Github"
      width="30px"
      height="30px"
    />
  </a>
</div>

<style>
  :root[data-theme="dark"] {
    --logo-filter: 1;
  }
  :root[data-theme="light"] > .gh-logo {
    --logo-filter: 0;
  }
  .gh-logo {
    filter: invert(var(--logo-filter));
  }
</style>
